# (optional) Path to directory where config files and whatnot are stored.
# Defaults to "./data".
SUNBORNE_DATA_PATH="data"

# Discord bot token
SUNBORNE_BOT_TOKEN=""

# The domain of the server
SUNBORNE_SERVER_DOMAIN=""