# (required) The token for your bot
SUNBORNE_DISCORD_BOT_TOKEN=

# (required) Base sunrise server domain
SUNBORNE_SERVER_DOMAIN=goatchan.duckdns.org

# (optional) Set to a non-empty value will enable debug logging
SUNBORNE_DEBUG=true